<h1>Login</h1>

<div>
	<% if flash[:status] == FALSE %>
		<p> <%= flash[:alert] %> </p>
	<% end %>
</div>




<% form_for(:session, :url =>  sessions_path) do |f| %>
	<div> 
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div> 
		<%= f.label :password %>
		<%= f.text_field :password %>
	</div>

	<div> 
		<%= f.submit :"Login" %>
	</div>

<% end %>