<%= form_for(@lineitem) do |f| %>
  <% if @lineitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lineitem.errors.count, "error") %> prohibited this lineitem from being saved:</h2>

      <ul>
      <% @lineitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%#
  Authour: Abdelrahman Sakr
  #Team : 1
  #View : Edit Lineitem
  #The following text field is to be able to change the quantity of the lineitems.
  %>
  <div class="field">
    <%= f.label :quantity %><br/>
    <%= f.text_field :quantity%>
    <% @newq = @lineitem.quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

