<%= form_for(@healthrecord) do |f| %>
  <% if @healthrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healthrecord.errors.count, "error") %> prohibited this healthrecord from being saved:</h2>

      <ul>
      <% @healthrecord.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bmi %><br />
    <%= f.number_field :bmi %>
  </div>
  <div class="field">
    <%= f.label :fats %><br />
    <%= f.number_field :fats %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :program %><br />
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :bloodtype %><br />
    <%= f.text_field :bloodtype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
