<h1>Listing healthrecords</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bmi</th>
    <th>Fats</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Program</th>
    <th>Id</th>
    <th>Blood Type</th>
    <th>Aim (Lose/Gain Weight)</th>
    <th></th>
  </tr>

<% @healthrecords.each do |healthrecord| %>
  <tr>
    <td><%= healthrecord.name %></td>
    <td><%= healthrecord.bmi %></td>
    <td><%= healthrecord.fats %></td>
    <td><%= healthrecord.height %></td>
    <td><%= healthrecord.weight %></td>
    <td><%= healthrecord.program %></td>
    <td><%= healthrecord.id %></td>
    <td><%= healthrecord.blood_type %></td>
    <td><%= healthrecord.aim %></td>
    <td><%= link_to 'Show', healthrecord %></td>
    <td><%= link_to 'Edit', edit_healthrecord_path(healthrecord) %></td>
    <td><%= link_to 'Destroy', healthrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Healthrecord', new_healthrecord_path %>