<body>
<p id="notice"><%= notice %></p>

<p>
  <b>Arrofpoints:</b>
  <%= @route.arrOfPoints %>
</p>

 <b>Route ID:</b>
  <%= @route.id %>
</p>
<%= link_to 'Print Drivers instructions', route_path(@route, :format => "pdf") %><br>
<a href="<%= @route.get_print_url() %>" target="_blank">Print Map</a><br>
<%= link_to 'Edit', edit_route_path(@route) %> <br>
<%= link_to 'Back', routes_path %><br>
<%= @route.orders %><br>
</body>
