<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %>
        prohibited this truck from being saved:</h2>
      <ul>
        <% @truck.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
     <%= f.collection_select(:driver_id,@truckless_drivers,:id,:name, prompt: true)%>
  <div class="field" style="padding-top:20px">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
