<p id="notice"><%= notice %></p>

<table class="table table-bordered table-responsive" width="625">
  
  <tr>
    <th colspan="7 ">Name:</th>
    <td><%= @disease.name %></td>
  </tr>

  <tr>   
    <th colspan="7">Information:</th>
    <td><%= @disease.information %></td>
  </tr>

  <tr>  
    <th colspan="7">Recommended:</th>
    <td>
      <% @disease.recommended_items.each do |f| %>
      <%= f.name %>
    </br>
    <% end %>
  </td>
</tr>

<tr> 
  <th colspan="7">Restricted:</th>
  <td>
    <% @disease.restricted_items.each do |c| %>
    <%= c.name %>
  </br>
  <% end %>
</td>
</tr>
<% if @admin == true%>

<tr>
  <th colspan="7">Actions:</th>
  <td>
    <%= link_to(edit_disease_path(@disease), class: "btn btn-small") do %>
    Edit <i class="icon-edit icon-white"></i>
    <% end %>
    <%= link_to 'Destroy', @disease, method: :delete, :class => "btn btn-default" ,data: { confirm: 'Are you sure?' } %> 
  </td>
  
</tr>
<% end %>                                 
</table>

