<!-- to edit user profile -->
  <%#
    #Author: Mohamed Saeed
    #Team: 1
    #Function: View member profile and basic personal info
    %>
<center>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=futura">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                  <div class="col-xs-12 col-sm-4 text-center">








<!-- 


<button type="button" class="btn btn-danger">Edit Profile</button>
<button type="button" class="btn btn-danger">test</button>
<%= link_to "Back", :back %>  
<button type="button" class="btn btn-success"><p style="color: white"><%= link_to "Bacccck", :back %></p1></button>

<%= button_to "Back", :back %>  
<button type="button" class="btn btn-success"><p style="color: white"><%= button_to "Back", :back %>  </p1></button>

<div class="btn btn-success">
  <%= link_to "Back", :back %>  , :class => "btn" %>
</div>


 -->
<br>
<font face="futura" color="green" size="7"><strong>Edit Profile</font></strong>
<br>
<br>
<br>
<br>
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>  
 <%= devise_error_messages! %>  
   <div><%= f.label :email %><br />  
   <%= f.email_field :email, autofocus: true , :value=> @member.email%></div>  
   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>  
   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>  
 <% end %>  
  <hr>  
  <h3>Edit Security settings</h3>  
  <div><%= f.label :new_Password %> <i>(leave blank if you don't want to change it)</i><br />  
   <%= f.password_field :password, autocomplete: "off" %></div>  
  <div><%= f.label :new_password_confirmation %><br />  
   <%= f.password_field :password_confirmation, autocomplete: "off" %></div>  
  <hr> 
  <%-# for First name-%>  
    <div><%= f.label :first_name %> <i>(leave it if you don't want to change it)</i><br />  
    <%= f.text_field :first_name, autocomplete: "off" , :value=> @member.first_name %></div>  
  <%-# for last name-%>  
    <div><%= f.label :last_name %> <i>(leave it if you don't want to change it)</i><br />  
    <%= f.text_field :last_name, autocomplete: "off" , :value=> @member.last_name %></div>  
  <%-# for phone num-%>  
    <div><%= f.label :phone_num %> <i>(leave it if you don't want to change it)</i><br />  
    <%= f.text_field :phone_num, autocomplete: "off" , :value=> @member.phone_num %></div>  
  <%-# for birth date-%>  
    <div><%= f.label :birth_date %> <i>(leave it if you don't want to change it)</i><br />  
    <%= f.text_field :birth_date, autocomplete: "off", :value=> @member.birth_date %></div>  
  <%-# for Address  but it is removed from the master -%>  
   <!-- <div><%= f.label :address %> <i>(we need your current password to confirm your changes)</i><br />  
   <%= f.text_field :address, autocomplete: "off" , :value=> @member.address%></div> -->  
  <hr>  
  <%-# for the current password to confrim the changes-%>  
     <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />  
    <%= f.password_field :current_password, autocomplete: "off" %></div>  
    <div><%= f.submit "Update" %></div>  
 <% end %>  
 <h3>Cancel my account</h3>  
 <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
	  method: :delete %></p>  
 <%= link_to "Back", :back %>  
 <a href="http://localhost:3000/members/" class="btn btn-primary" >Back</a>
 <button type="button" class="btn btn-primary"><%= link_to "Back", :back %></button>
 <%-  
 # auther: mostafa Adel mohamed   
 # component: C3  
 # user story: 3.10 "As a user I can edit my profile "       
 # describtion:i linked to this page with the current member and user can edit it's basic info 
 #"first name , last name , phone ...."  
 # and use the current password to verify the change.  
 # and user can change the current password by insert the new password and confirmation password  
 # user can leave the new password blank if user want to keep it   
 #  
 #  
 #  
 -%>  






   </div>                 
  </div>                 
    </div>
  </div>
</div>





</center>
