<!-- to edit user profile -->
<%#
    #Author: Mohamed Saeed
    #Team: 1
    #Function: Edit basic personal info that shows in member profile
    %>
<center>
  <font face="futura">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=futura">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="well profile">
            <div class="col-sm-12">
              <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-4 text-center">
                  <br>
                  <br>
                  <font face="futura" color="green" size="7"><strong>Edit Profile</font></strong>
                  <br>
                  <br>
                  <br>
                  <hr>
                  <br>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <font face="futura" color="green" size="5"><strong>Edit Email</font></strong>
                    <br>
                    <br>
                    <br>
                    <div><%= f.label :email %>
                      <%= f.email_field :email, autofocus: true , :value=> @member.email%></div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for:
                        <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <hr>
                    <br>
                    <font face="futura" color="green" size="5"><strong>Edit Password</font></strong>
                    <br>
                    <br>
                    <br>
                    <div><%= f.label :new_Password %>
                      <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off" %></div>
                    <br>
                    <div><%= f.label :new_password_confirmation %>
                      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
                    <hr>
                    <br>
                    <font face="futura" color="green" size="5"><strong>Edit Personal Info</font></strong>
                    <br>
                    <br>
                    <br>
                    <%-# for First name-%>
                    <div><%= f.label :first_name %>
                      <%= f.text_field :first_name, autocomplete: "off" , :value=> @member.first_name %></div>
                    <br>
                    <%-# for last name-%>
                    <div><%= f.label :last_name %>
                      <%= f.text_field :last_name, autocomplete: "off" , :value=> @member.last_name %></div>
                    <br>
                    <%-# for phone num-%>
                    <div><%= f.label :phone_number %>
                      <%= f.text_field :phone_number, autocomplete: "off" , :value=> @member.phone_num %></div>
                    <br>
                    <%-# for birth date-%>
                    <div><%= f.label :birth_date %>
                      <%= f.text_field :birth_date, autocomplete: "off", :value=> @member.birth_date %></div>
                    <hr>
                    <br>
                    <font face="futura" color="green" size="5"><strong>Confirm Changes</font></strong>
                    <br>
                    <br>
                    <br>
                    <%-# for the current password to confrim the changes-%>
                    <div><%= f.label :current_password %>
                      <%= f.password_field :current_password, autocomplete: "off" %></div>
                    <div><%= f.submit "Save" %></div>
                  <% end %>
                  <button type="button" class="btn btn-default"><%= link_to 'Cancel', member_path(@member) %>
                  </button>
                  <button type="button" class="btn btn-success"><%= link_to 'Save', edit_member_path(@member) %>
                  </button>
                  <hr>
                  <br>
                  <font face="futura" color="green" size="5"><strong>Delete Account</font></strong>
                  <br>
                  <br>
                  <br>
                  Unhappy?
                  <br>
                  <br>
                  <button type="button" class="btn btn-danger"><%= link_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" },method: :delete %>
                  </button>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </font>
    </center>
