<!-- Author: mina sedra -->
<!-- Team: 2-->
<!-- This page is the view of the  members'health record  -->
<!DOCTYPE html>
<br/>
<br/>
<head>
  <%= stylesheet_link_tag "member" , :media => "all" %>
  <head/>
  <body class = "minabody">
    <div class="contextual">
      <%= link_to(new_healthrecord_path, class: "btn btn-success") do %>
        New Healthrecord
        <i class="icon-plus icon-white"></i>
      <% end %>
    </div>
    <div class="form_caja">
      <p >
        <%= current_member.first_name %>
        's HEALTHRECORDS</p>
      <table class= "minatable"width="100%" >
        <% @health_records.each do |healthrecord| %>
          <thead class = "minathead"><tr>
              <td>Name:
                <%= healthrecord.name %></td>
              <!-- author : mina
     link to the healthrecord -->
              <td><%= link_to  "<button>Show</button>".html_safe, healthrecord %></td>
              <!-- author : mina
 link to update the healthrecord -->
              <td><%= link_to  "<button>Edit</button>".html_safe, edit_healthrecord_path(healthrecord) %></td>
              <!-- author : mina
     link to remove  healthrecord -->
              <td><%= link_to  "<button>Remove</button>".html_safe, healthrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr></thead>
        <% end %>
      </table>
    </div>
  </body>
