<!-- to show all the records for that member : mina sedra 
 --><h1><%= current_member.first_name %> 's healthrecords</h1>

<table>
  

<% @healthrecord.each do |healthrecord| %>
<tr>
    <th>Name</th>
  
  </tr>
  <tr>
    <td><%= healthrecord.name %></td>
    <td><%= link_to  "<button>Show</button>".html_safe, healthrecord %></td>
    <td><%= link_to  "<button>Edit</button>".html_safe, edit_healthrecord_path(healthrecord) %></td>
    <td><%= link_to  "<button>Remove</button>".html_safe, healthrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to "<button>New Healthrecord</button>".html_safe, new_healthrecord_path %>


