<!-- This the Users/Admins Hub Page which is the Home page that shows New/Recommended Items -->

<!--#Author: Omar Tarek
	 	#Team: 5
	 	#Method name:
	 	#Parameters:none
		#Function: show admin some statistical info about the website.
	 	#Example:  -->


<!-- showing the number of users the website has reached -->
<% if current_member.email == 'admin@gmail.com'%>
  <%@allMembers = Member.all%>
  <%@membersCount=-1%>
  <% @allMembers.each do |m| %>
    <% @membersCount += 1%>
  <%end%>


<!-- showing the number of items the website has-->
  <%@allItems = Item.all%>
  <%@itemsCount=0%>
  <% @allItems.each do |i| %>
    <% @itemsCount += 1%>
  <%end%>


<!-- showing the number of diseases the website has-->
  <% @allDiseases = Disease.all %>
  <% @diseasesCount=0%>
  <% @allDiseases.each do |d| %>
   <% @diseasesCount += 1%>
  <%end%>



<!--showing the number of drivers and the number of trucks these drivers are using-->
  <%@allTrucks = Truck.all%>
  <%@allDrivers = Driver.all%>
  <%@trucksCount=0%>
  <%@driversCount=0%>
  <% @allTrucks.each do |t| %>
    <% @trucksCount += 1%>
  <%end%>
  <% @allDrivers.each do |d| %>
    <% @driversCount += 1%>
  <%end%>




  <h1 style="margin: 10px 0px 10px">Statistics:</h1>
  <h3 style="margin:-10px 25px 5px"><font size="2">- The website has:</h3>
  <li style="margin:-12px 45px 0px"><%=@membersCount%> members.</li>
  <li style="margin:0px 45px 0px"><%=@itemsCount%> items in its warehouse.</li>
  <li style="margin:0px 45px 0px"><%=@diseasesCount%> diseases.</li>
  <li style="margin:0px 45px 0px"><%=@driversCount%> drivers, using 
  <%=@trucksCount%> trucks.</li>


<!-- showing the number of items that are purchased today-->
  <% @orderItems = Array.new %>		
  <% @allOrders = Order.all %>
  <% @itemsTodayCount=0 %>
  <% @allOrders.each do |o| %>
    <%@orderDate = o.date%>
    <%@today=Date.today%>
    <%if @orderDate == @today%>
      <% @orderItems = y.items %>
      <% @orderItems.each do |i| %>
        <% @itemsTodayCount += 1 %>  
        <% members.itemsToday << i%>
      <%end%>
    <%end%>
  <%end%>

  <p style="margin:5px 25px 0px"><font size="2"><b>- <%=@itemsTodayCount%> items have been purchased today.</p>

 


<!-- showing the number of orders that that have been placed on the website so far-->
  <% @ordersCount=0 %>
  <% @allOrders.each do |o| %>
    <% @ordersCount += 1%>
  <%end%>
  <%if @ordersCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- <%=@ordersCount%> order has been placed on the website so far.</p>
  <%else%>
    <p style= "margin:0px 25px 0px"><b>- <%=@ordersCount%> orders have been placed on the website so far.</p>
  <%end%>




<!-- showing items that are out of stock-->
  <% @itemsOutOfStockCount = 0%>
  <% @allItems.each do |i| %>
    <% if i.amount <= 0 %>
      <% @itemsOutOfStock << i%>
      <% @itemsOutOfStockCount += 1%>
    <%end%>
  <%end%>
  <%if @itemsOutOfStockCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- <%=@itemsOutOfStockCount%> item is out of stock.</p>
  <%else%>
    <p style= "margin:0px 25px 0px"><b>- <%=@itemsOutOfStockCount%> items are out of stock.</p>
  <%end%>







<!--#Author: Omar Tarek
	 	#Team: 5
	 	#Method name:
	 	#Parameters:none
		#Function: show admin a summary of the latest actions on the website.
	 	#Example:  -->



  <h1 style="margin: 17px 0px 15px">Action Summary:</h1>

  <%@today = Date.today%>	
  <%@sixDaysAgo = @today - 6.day%>
  <%@fiveDaysAgo = @today - 5.day%>
  <%@fourDaysAgo = @today - 4.day%>
  <%@threeDaysAgo = @today - 3.day%>
  <%@twoDaysAgo = @today - 2.day%>
  <%@yesterday = @today - 1.day%>


<!-- showing items that the admin added in the past week-->
  <% @itemsAddedThisWeekCount = 0%>
  <% @allItems.each do |i| %>
    <%@itemDate = i.date%>
    <% if @itemDate == @sixDaysAgo || @itemDate == @fiveDaysAgo ||
    @itemDate == @fourDaysAgo  || @itemDate == @threeDaysAgo || 
    @itemDate == @twoDaysAgo || @itemDate == @yesterday ||
    @itemDate == @today%>
      <% @itemsAddedThisWeek << i %>
      <% @itemsAddedThisWeekCount += 1 %>
    <%end%>
  <%end%>
  <%if @itemsAddedThisWeekCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@itemsAddedThisWeekCount%> item this week.</p>
  <%else%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@itemsAddedThisWeekCount%> items this week.</p>
  <%end%>




<!-- showing trucks that the admin added in the past week-->
  <% @trucksAddedThisWeekCount = 0%>
  <% @allTrucks.each do |t| %>
    <%@truckDate = t.date%>
    <% if @truckDate == @sixDaysAgo || @truckDate == @fiveDaysAgo || 
    @truckDate == @fourDaysAgo  || @truckDate == @threeDaysAgo || 
    @truckDate == @twoDaysAgo || @truckDate == @yesterday || 
    @truckDate == @today %>
      <% @trucksAddedThisWeek << t %>
      <% @trucksAddedThisWeekCount += 1 %>
    <%end%>
  <%end%>
  <%if @trucksAddedThisWeekCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- You have added
    <%=@trucksAddedThisWeekCount%> truck this week.</p>
  <%else%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@trucksAddedThisWeekCount%> trucks this week.</p>
  <%end%>


<!-- showing diseases that the admin added in the past week-->
  <% @diseasesAddedThisWeekCount = 0%>
  <% @allDiseases.each do |d| %>
    <%@diseaseDate = d.date%>
    <% if @diseaseDate == @sixDaysAgo || @diseaseDate == @fiveDaysAgo ||
    @diseaseDate == @fourDaysAgo || @diseaseDate == @threeDaysAgo || 
    @diseaseDate == @twoDaysAgo || @diseaseDate == @yesterday || 
    @diseaseDate == @today %>
      <% @diseasesAddedThisWeek << d %>
      <% @diseasesAddedThisWeekCount += 1 %>
    <%end%>
  <%end%>
  <%if @trucksAddedThisWeekCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@diseasesAddedThisWeekCount%> disease this week.</p>
  <%else%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@diseasesAddedThisWeekCount%> diseases this week.</p>
  <%end%>



<!-- showing drivers that the admin added in the past week-->
  <% @driversAddedThisWeekCount = 0%>
  <% @allDrivers.each do |d| %>
    <%@driverDate = d.date%>
    <% if @driverDate == @sixDaysAgo || @driverDate == @fiveDaysAgo || 
    @driverDate == @fourDaysAgo|| @driverDate == @threeDaysAgo ||
    @driverDate == @twoDaysAgo || @driverDate == @yesterday || 
    @driverDate == @today %>
      <% @driversAddedThisWeek << d %>
      <% @driversAddedThisWeekCount += 1 %>
    <%end%>
  <%end%>
  <%if @driversAddedThisWeekCount == 1%>
    <p style= "margin:0px 25px 0px"><b>- You have added 
    <%=@driversAddedThisWeekCount%> driver this week.</p>
  <%else%>
    <p style= "margin:0px 25px 12px"><b>- You have added 
    <%=@driversAddedThisWeekCount%> drivers this week.</p>
  <%end%>






<%else%>


<h1 style="
padding-top:30px;
right:5px"> New Arrivals </h1>

 <!--	#Author: Andrew Khouzam
	 	#Team: 1
	 	#Method name: CSS for the items in the table.
		#Function: make float on the 10 latest items of the tables
	 	#Example:  -->


<style>
.thumbnail 
{
float:left;
padding:25px 25px;
width:90px;
height:90px;
margin:10px;
}
</style>



 <!--	#Author: Andrew Khouzam
	 	#Team: 1
	 	#Method name: 
		#Function: to count all the items in the warehouse in the variable 'allItemsCounter'
	 	#Example:  -->
			<% @allItems = Item.all %>
		<% allItemsCounter = 0 %>
<% @allItems.each do |article| %>
 	<% allItemsCounter +=1  %>
<% end %>



 <!--#Author: Andrew Khouzam
	 #Team: 1
	 #Method name: 
	 #Function: Decrementing the counter by 10, in order to show the latest 10 items in the warehouse
	 #Example: allItemscounter = 23 => allItemscounter = 13 -->
<% allItemsCounter = allItemsCounter - 10  %>




 <!--#Author: Andrew Khouzam
	 #Team: 1
	 #Method name: 
	 #Function: comparing the counter to the allItemsCounter in order to get the latest 10 items.
	 #Example: allItemscounter = 10 and the actual items are 20
	 the counter will start off by 0 and then will increment and when it hits 10, it will 
	 start showing the items in the hub. -->
<table>
	<% counter = 0 %>
		<% @allItems.each do |item| %>
			<% counter += 1 %>
				<% if counter > allItemsCounter %>
					<td class = "thumbnail"><%= image_tag item.image.url %>
					<tag ><%= link_to item.name , item_path(item) %></tag>
																			</td>
   		
  				<% end %>
		<% end %>
</table>




<h1> Recommended Items </h1>
<!-- This part of the code cannot be coded until the story 2.8 is finished because the calculations of the recommendations is not my user story.  
2.8: As a user, I should see a recommendation section in the hub according to the information the user provided in the sign-up-->

<%end%>

