<!-- This the Users/Admins Hub Page which is the Home page that shows New/Recommended Items -->

<% if current_member.email != 'admin@gmail.com'%>




<%@allMembers = Member.all%>
<%@membersCount=-1%>
<% @allMembers.each do |m| %>
<% @membersCount += 1%>
<%end%>

<!-- showing the number of users the website has reached -->

<%@allItems = Item.all%>
<%@itemsCount=0%>
<% @allItems.each do |i| %>
<% @itemsCount += 1%>
<%end%>

<!-- showing the number of items the website has-->


<%@allTrucks = Truck.all%>
<%@allDrivers = Driver.all%>
<%@trucksCount=0%>
<%@driversCount=0%>
<% @allTrucks.each do |t| %>
<% @trucksCount += 1%>
<%end%>
<% @allDrivers.each do |d| %>
<% @driversCount += 1%>
<%end%>

<!--showing the number of drivers and the number of trucks these drivers are using-->



<h1>Statistics:</h1>
<h3 style="margin:0px 25px 0px"><font size="2">- The website has:</h3>
<li style="margin:0px 45px 0px"><%=@membersCount%> members.</li>
<li style="margin:0px 45px 0px"><%=@itemsCount%> items in its warehouse.</li>
<li style="margin:0px 45px 0px"><%=@driversCount%> drivers, using <%=@trucksCount%> trucks.</li>


<% @allOrders = Order.all %>
<% @itemsTodayCount=0 %>
<% @allOrders.each do |o| %>
<%@date = y.date%>
<%@today=Date.today%>

<%if @date == @today%>
 <% @itemsTodayCount += y.items.size %>  
<%end%>

<%end%>
<h3 style="margin:0px 25px 0px">
<font size="2">- <%=@itemsTodayCount%> items have been purchased today.</h3>

 
<!-- showing the number of items that are purchased today-->


<% @ordersCount=0 %>
<% @allOrders.each do |o| %>
<% @allOrders += 1%>
<%end%>
<%if @ordersCount == 1%>
<p style= "margin:0px 25px 0px";><b>- <%=@ordersCount%> order has been placed on the website so far.</h3>
<%else%>
<p style= "margin:0px 25px 0px";><b>- <%=@ordersCount%> orders have been placed on the website so far.</p>
<%end%>

<!-- showing the number of orders that that have been placed on the website so far-->

<!-- showing items that are out of stock-->



<!--	#Author: Omar Tarek
	 	#Team: 5
	 	#Method name:
		#Function: show admin some statistical info about the website.
	 	#Example:  -->


<h1>Action Summary:</h1>





<!--	#Author: Omar Tarek
	 	#Team: 5
	 	#Method name:
		#Function: show admin a summary of the latest actions on the website.
	 	#Example:  -->

<%else%>


<h1 style="
padding-top:30px;
right:5px"> New Arrivals </h1>

 <!--	#Author: Andrew Khouzam
	 	#Team: 1
	 	#Method name: CSS for the items in the table.
		#Function: make float on the 10 latest items of the tables
	 	#Example:  -->


<style>
.thumbnail 
{
float:left;
padding:25px 25px;
width:90px;
height:90px;
margin:10px;
}
</style>



 <!--	#Author: Andrew Khouzam
	 	#Team: 1
	 	#Method name: 
		#Function: to count all the items in the warehouse in the variable 'allItemsCounter'
	 	#Example:  -->
			<% @allItems = Item.all %>
		<% allItemsCounter = 0 %>
<% @allItems.each do |article| %>
 	<% allItemsCounter +=1  %>
<% end %>



 <!--#Author: Andrew Khouzam
	 #Team: 1
	 #Method name: 
	 #Function: Decrementing the counter by 10, in order to show the latest 10 items in the warehouse
	 #Example: allItemscounter = 23 => allItemscounter = 13 -->
<% allItemsCounter = allItemsCounter - 10  %>




 <!--#Author: Andrew Khouzam
	 #Team: 1
	 #Method name: 
	 #Function: comparing the counter to the allItemsCounter in order to get the latest 10 items.
	 #Example: allItemscounter = 10 and the actual items are 20
	 the counter will start off by 0 and then will increment and when it hits 10, it will 
	 start showing the items in the hub. -->
<table>
	<% counter = 0 %>
		<% @allItems.each do |item| %>
			<% counter += 1 %>
				<% if counter > allItemsCounter %>
					<td class = "thumbnail"><%= image_tag item.image.url %>
					<tag ><%= link_to item.name , item_path(item) %></tag>
																			</td>
   		
  				<% end %>
		<% end %>
</table>




<h1> Recommended Items </h1>
<!-- This part of the code cannot be coded until the story 2.8 is finished because the calculations of the recommendations is not my user story.  
2.8: As a user, I should see a recommendation section in the hub according to the information the user provided in the sign-up-->

<%end%>

