

<!--to check the adminstration level
author : mohamed lotfy
team : 1-->


<!-- This is the Users/Admins Profile -->


<% if @admin == true%>
<h1>hello admin</h1>
<%= link_to 'Site Members', members_path%>
 <%= link_to 'My WareHouse', items_path%> 
<%if @wishexist == true%>
<%= link_to 'My wishlist' , 'http://localhost:3000/wishlists/show'%>
<%end%>

<!--to check the adminstration level
author:mohamed lotfy team:1-->

<%elsif @admin == false%>
<%@count=true%>
<% @member.orders.each do |ord| %>
		<%if(@member && not(ord.coordinates))%>
			<%if(@count)%>
				<% flash[:alert] = "you have an order without billing and shipping addresses please #{link_to('click here', chooseOrder_path(ord))} to choose now".html_safe %>
				<%count=false%>
			<%else%>
				<% flash[:alert] = "you have more than one order without billing and shipping addresses please #{link_to('click here', showOrders_path)} to show your orders".html_safe %>
			<%end%>
		<%end%>
<%end%>

<h3>Member</h3>
<p>Email: <%= @member.email %></p>
<h1> hello <%= @member.email%></h1>
<p>First Name:</p>
<h2> <%= @member.first_name%></h2>
<p>Last Name:</p>
<h2><%= @member.birth_date%></h2>
<h2><%= @member.phone_num%></h2>


<%#
Author: Abdelrahman Sakr
#Team : 1
#A link to the user's Shopping cart%>
<h2><%= link_to "My Shopping Cart", 'http://localhost:3000/carts/show' %></h2>

<% if @member.gender %>
<h4>Male</h4>
<%else%>
<h4>Female</h4>
<%end%>







<%if @wishexist == true%>
<%= link_to 'My wishlist' , 'http://localhost:3000/wishlists/show'%>
<%end%>
<%end%>

</br>
<%= link_to 'Add new address', new_address_path%>
<%= link_to 'Show addresses', showaddresses_path%>
<%= link_to 'Show orders', showOrders_path%>
<%= link_to 'add orders', new_order_path%>



<!--to check the adminstration level  
 author : mohamed lotfy  
 team : 1-->  
 <!-- This is the Users/Admins Profile -->  
 <% if @admin == true%>  
   <h1>hello admin</h1>  
   <%= link_to 'Site Members', members_path%>  
   <%= link_to 'My WareHouse', items_path%>   
 <%if @wishexist == true%>  
   <%= link_to 'My wishlist' , 'http://localhost:3000/wishlists/show'%>  
 <%end%>  
 <!--to check the adminstration level  
 author:mohamed lotfy team:1-->  
 <%elsif @admin == false%>  
  <!-- to show user profile -->  
  <%-# to show basic info-%>  
   <h2><%= @member.first_name%> 's Profile</h2>   
  <%-# to edit profile-%>  
   <%= link_to 'Edit Profile', edit_member_path(@member) %>  
  <%-# to show the basic info -%>  
    <h2><p>Email: </p></h2>  
    <%= @member.email %>  
    <h2><p>First Name:</p></h2>  
    <%= @member.first_name%>  
    <h2><p>Last Name:</p></h2>  
    <%= @member.last_name%>  
    <h2><p>Birth Date:</p></h2>  
    <%= @member.birth_date%>  
    <h2><p>Phone number:</p></h2>  
    <%= @member.phone_num%>  
    <!-- <h2><p>Address:</p></h2>  
    <%= @member.address%> -->  
    <h2><p>Gender:</p></h2>  
    <%- if @member.gender %>  
      Male  
    <%else%>  
      Female  
   <%end%>  
   <hr>  
   <%-# to show all the healthRecords related to this profile-%>  
   <!-- <h2>Health Records</h2>  
   <% @member.records.each do |record|%>  
    <h2><p>Name:</p></h2>  
    <%= record.name %>  
    <h2><p>BMI:</p></h2>  
    <%= record.bmi %>  
    <h2><p>Fats:</p></h2>  
    <%= record.fats %>  
    <h2><p>Height:</p></h2>  
    <%= record.height %>  
    <h2><p>Weight:</p></h2>  
    <%= record.weight %>  
    <h2><p>Program:</p></h2>  
    <%= record.program %>  
    <hr>  
   <%end%> -->  
   <br>  
 <%-  
 # author: mostafa Adel mohamed   
 # component: C3  
 # user story: 3.9 - "As a user i can show my profile"       
 # describtion: user can show all his/her basic info and can linked to "edit my profile"  
 #   
 #  
 -%>  
 <% end %>  

