<h3>Member</h3>
<p>Email: <%= @member.email if @member.email %></p>
<h1> hello <%= @member.email%></h1>
<p>First Name:</p>
<h2> <%= @member.first_name%></h2>
<p>Last Name:</p>
<h2><%= @member.birth_date%></h2>
<h2><%= @member.phone_num%></h2>
<h2><%= @member.address%></h2>
<% if @member.gender %>
<h4>Male</h4>
<%else%>
<h4>Female</h4>
<%end%>

