
<% if @admin == true%>
<h1>hello admin</h1>
<%= link_to 'Site Members', members_path%>
 <%= link_to 'My WareHouse', items_path%> 


<%elsif @admin == false%>

<h3>Member</h3>
<p>Email: <%= @member.email %></p>
<h1> hello <%= @member.email%></h1>
<p>First Name:</p>
<h2> <%= @member.first_name%></h2>
<p>Last Name:</p>
<h2><%= @member.birth_date%></h2>
<h2><%= @member.phone_num%></h2>
<h2><%= @member.address%></h2>

<h2><%= link_to "My Shopping Cart", 'http://localhost:3000/carts/show' %></h2>

<% if @member.gender %>
<h4>Male</h4>
<%else%>
<h4>Female</h4>
<%end%>
<%end%>

