<!-- Author: Ahmed Helali
     Team 2
     a form to show output 
     from meber, so we can calculate
     his average calories intake
 -->

 <!-- here I loop on the records to get the 
	repective health record of the member -->

 <% @id %>
 <% Healthrecord.all.each do |x| %>
	<%if x.member_id == current_member.id %>
	  <% @id = x.id %>
	  <% @record = Healthrecord.find(@id) %>
	  <% break %>
	<%end%>
<%end%> 

 <% unless @admin ||  @id.nil? %>
 <h1>So...</h1>
<%= stylesheet_link_tag "healthrecords" , :media => "all" %>

<p>
  <h1>Name:</h1>
  <%= @record.name %>
</p>

<p>
  <h1>Bmi:</h1>
  <%= @record.bmi %>
</p>

<p>
  <b>Program:</b>
  <%= @record.program %>
</p>

<p>
	<h1>Protien Per Day:</h1>
	<% age = @record.age %>
	<%= x = age + @record.bmi %>
</p>

<p>
	<h1>Calcium Per Day:</h1>
	<% age = @record.age %>
	<%= x = age / 2 + @record.bmi %>
</p>

<p>
	<h1>Calories Per Day:</h1>
	<% age = @record.age %>
	<%= x = age * 2 + @record.bmi %>
</p>	

<tr> 
    <th colspan="7">Disease:</th>
     </br>
    <td>
      <% @healthrecord.diseases.each do |c| %>
            <td><%= link_to c.name, c %></td>
</label>
	<%end%>
        </br>
<%end%>


<%if @admin %>
 	<center><h1>You are the admin of the site</h1></br>
 	<h2>go get busy!!!</h2></center>
<%elsif @id.nil? %>
	<center><h1>Please complete your health profile</h1></center>
<%end%>