

<!--to check the adminstration level
author : mohamed lotfy
team : 1-->


<!-- This is the Users/Admins Profile -->


<% if @admin == true%>
<h1>hello admin</h1>
<%= link_to 'Site Members', members_path%>
 <%= link_to 'My WareHouse', items_path%> 

<!--to check the adminstration level
author:mohamed lotfy team:1-->


<h3>Member</h3>
<p>Email: <%= @member.email %></p>
<h1> hello <%= @member.email%></h1>
<p>First Name:</p>
<h2> <%= @member.first_name%></h2>
<p>Last Name:</p>
<h2><%= @member.birth_date%></h2>
<h2><%= @member.phone_num%></h2>



<%#
Author: Abdelrahman Sakr
#Team : 1
#A link to the user's Shopping cart%>


<% if @member.gender %>
<h4>Male</h4>
<%else%>
<h4>Female</h4>
<%end%>




<!--to check the adminstration level  
 author : mohamed lotfy  
 team : 1-->  
 <!-- This is the Users/Admins Profile -->  
 <!--to check the adminstration level  
 author:mohamed lotfy team:1-->  
 <%elsif @admin == false%>  
  <!-- to show user profile -->  
  

<!-- 

  <%-# to show basic info-%>  
   <h2><%= @member.first_name%>'s Profile</h2>   
  <%-# to edit profile-%>  
   <%= link_to 'Edit Profile', edit_member_path(@member) %>  






    <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="edit_member_path(@member)">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>

   <button type="button" class="btn btn-primary">Edit Profile</button>

   <button class="btn btn-primary">EDITTTT</button>

  <a href="http://localhost:3000/members/edit" class="btn btn-primary" > EDIT PROFILEeEeEE </a>

  
  <a class="btn btn-primary" href="http://localhost:3000/members/edit" ><h5 style="color: #white">
      Edit Profile!
    </h5></a>

<br>
<br><br><br>
    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-primary">Edit Profile</button></a>
    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-success">Edit Profile</button></a>
    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-info">Edit Profile</button></a>
    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-warning">Edit Profile</button></a>
    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-danger">Edit Profile</button></a>





    <a href="http://localhost:3000/members/edit" ><button type="button" class="btn btn-danger"><%= link_to 'Edit Profile', edit_member_path(@member) %>  </button></a>

  

  <button type="button" class="btn btn-success"><p style= "color: #red"><%= link_to 'Edit Profile', edit_member_path(@member) %></p></button>


 -->

<center>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
       <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                  <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        
                        </figcaption>
                    </figure>
                </div>
                    <font face="helvetica" color="green"><h1><%= @member.first_name%> <%= @member.last_name%></h1></font>
                    <h2><p><strong>Name: </strong><%= @member.first_name%> <%= @member.last_name%></p></h2>
                    <p><strong>Birth date: </strong><%= @member.birth_date%></p>
                    <p><strong>Phone number: </strong><%= @member.phone_num%></p>
                    <p><strong>Gender: </strong><%- if @member.gender %>  
                      Male  <%else%>  Female <%end%>   </p>
                </div>           

                <button type="button" class="btn btn-success"><span class="fa fa-gear"> </span><%= link_to '  Edit Profile', edit_member_path(@member) %>  </button>

                <!-- <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        
                        </figcaption>
                    </figure>
                </div> -->
            </div>            
            <!-- div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>Snippets</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div> -->
       </div>                 
    </div>
  </div>
</div>





</center>

















 <% end %>  

