<!-- Author: Mahmoud Walid
      Team: 3
      Function: a view for showing all the orders of the member-->
<h2>List of all your orders</h2>
<% current_member.orders.each do |ord| %>
  <p><%= ord.orderNo %>
    <% if not ord.coordinates%>
      <%= link_to 'choose', chooseOrder_path(ord) %>
    <%end%>
    <%= link_to 'Show', ord %>
    <%= link_to 'Edit', edit_order_path(ord)%>
    <%= link_to 'Destroy', ord, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<hr>
<%= link_to 'Back to my profile', current_member%>
