<!-- to check the adminstration level  
     #Author: Mohamed Saeed 
     #Team: 1
     #Function: view basic info and controls for admin.-->
<!-- This is the Users/Admins Profile -->
<% if @admin == true%>
  <center>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=futura">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="well profile">
            <div class="col-sm-12">
              <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-4 text-center">
                  <figure>
                    <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                  </figcaption>
                </figure>
              </div>
              <br>
              <br>
              <font face="futura" color="green" size="7"><strong>Admin's Dashboard</font></strong>
              <br>
              <br>
              <br>
              <p><font face="futura" size="3">Name:
                </font><font face="futura" size="5"><strong><%= @member.first_name%>
                    <%= @member.last_name%></strong></p>
                <p><font face="futura" size="3">Email:
                  </font><font face="futura" size="5"><strong><%= @member.email%></p></strong>
                  <p><font face="futura" size="3">Birth date:
                    </font><font face="futura" size="5"><strong><%= @member.birth_date%></p></strong>
                    <p><font face="futura" size="3">Phone number:
                      </font><font face="futura" size="5"><strong><%= @member.phone_num%></p></strong>
                      <p><font face="futura" size="3">Gender:
                        </font><font face="futura" size="5"><strong><%- if @member.gender %>
                              Male
                            <%else%>
                              Female
                            <%end%>
                          </p></strong>
                      </font>
                    </div>
                    <br>
                    <br>
                    <%= link_to(edit_member_path(@member), :class => 'btn btn-success') do %>
                      <i class="icon-cog icon-white"></i><font face="futura" color="white">
                        Edit Profile</font>
                    <% end %>
                    <%= link_to(members_path, :class => 'btn btn-success') do %>
                      <i class="icon-user icon-white"></i><font face="futura" color="white">
                        Site Members</font>
                    <% end %>
                    <%= link_to(items_path, :class => 'btn btn-success') do %>
                      <i class="icon-home icon-white"></i><font face="futura" color="white">
                        Warehouse</font>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </font>
      </center>
    <%elsif @admin == false%>
      <!-- to show user profile -->
      <%#
    #Author: Mohamed Saeed
    #Team: 1
    #Function: view basic personal info that shows in member profile (first name, last name, 
    birth date, phone number and gender).
    %>
      <center>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=futura">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
              <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-xs-12 col-sm-8">
                    <div class="col-xs-12 col-sm-4 text-center">
                      <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                      </figcaption>
                    </figure>
                  </div>
                  <br>
                  <br>
                  <font face="futura" color="green" size="7"><strong><%= @member.first_name%>'s Profile</font></strong>
                  <br>
                  <br>
                  <br>
                  <p><font face="futura" size="3">Name:
                    </font><font face="futura" size="5"><strong><%= @member.first_name%>
                        <%= @member.last_name%></strong></p>
                    <p><font face="futura" size="3">Email:
                      </font><font face="futura" size="5"><strong><%= @member.email%></p></strong>
                      <p><font face="futura" size="3">Birth date:
                        </font><font face="futura" size="5"><strong><%= @member.birth_date%></p></strong>
                        <p><font face="futura" size="3">Phone number:
                          </font><font face="futura" size="5"><strong><%= @member.phone_num%></p></strong>
                          <p><font face="futura" size="3">Gender:
                            </font><font face="futura" size="5"><strong><%- if @member.gender %>
                                  Male
                                <%else%>
                                  Female
                                <%end%>
                              </p></strong>
                          </font>
                        </div>
                        <br>
                        <br>
                        <%= link_to(edit_member_path(@member), :class => 'btn btn-success') do %>
                          <i class="icon-cog icon-white"></i><font face="futura" color="white">
                            Edit Profile</font>
                        <% end %>
                        <!-- Author: Mahmoud Walid
       Team: 3
       Function: show alerts if there is any order without an address-->
                        <%if @member%>
                          <% @count = true%>
                          <% @member.orders.each do |ord|%>
                            <%if not ord.coordinates%>
                              <% if @count%>
                                <hr>
                                <br>
                                <br>
                                <%flash[:alert] = "You have an order that needs shipping and billing addresses, please #{link_to "click here",chooseOrder_path(ord)} to choose now".html_safe%>
                                <%@count=false%>
                              <% else %>
                                <%flash[:alert] = "You have more than one order that needs shipping and billing addresses, please #{link_to "click here",showOrders_path} to show your orders".html_safe%>
                                <br>
                                <br>
                                <br>
                              <%end%>
                            <%end%>
                          <%end%>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </font>
          </center>
        <% end %>
