#(GUI TEAM) This is the page of SignIn of HTMl its layout is signIn.html.erb
      
<div style="font-family:verdana;margin: auto;width:400px;height:350px;padding:1px;border-radius:20px;border:10px solid #EE872A;">
 <div style=";position: relative;margin: auto;width:400px;height:350px;border-radius:10px;;background-color:#40B3DF">
 <br>
 <br>
 <br>
 <br>      
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
 <b>Email</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= f.email_field :email, autofocus: true %></div>
 <br>
  <div>
  <b>Password</b> &nbsp; <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div style="position: relative; padding-top: 20px"><t style="padding-top: 5px"><b>Remember Me&nbsp;&nbsp;</b></t> <%= f.check_box :remember_me %></div>
    <br>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</div>
</div>
<%= render "devise/shared/links" %>
