<h1>New user</h1>

<<<<<<< HEAD
<button type="button" onclick = "show_calories">Show calories!</button>

<%= render 'form' %>
=======

>>>>>>> 277df7dee25bcdd63842f6205e46c7fdd981553f

<%= link_to 'Back', users_path %>

<div>   
<!--to print the errors comes from entering the values in the text boxes-->	
        <%flash[:alert] = @user.errors.full_messages%>
	<%flash[:alert].each do |error| %>
	<p><%=error%></p>
	<%end%>
</div>





<!--to draw the register form -->
<%= form_for User.new do |user|%>
<div>
	<%= user.label(:first_name,"First Name")%>
	<%=user.text_field :first_name%>
</div>
<div>
	<%= user.label(:last_name,"Last Name")%>
	<%=user.text_field :last_name%>
</div>
<div>
	<%= user.label(:password,"Password")%>
	<%=user.password_field :password%>
</div>
<div>
	<%= user.label(:password_confirmation,"Confirm Password")%>
	<%=user.password_field :password_confirmation%>
</div>
<div>
	<%= user.label(:email,"Email")%>
	<%=user.text_field :email%>
</div>
<div>
<%= submit_tag "Register"%>
</div>
<%end%>


