<h1>Drivers</h1>
#listing all drivers , each one with his attributes
<table >
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Phone</th>
    <th></th>
    
  </tr>
  </thead>

<% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.name %></td>
    <td></td>
    <td><%= driver.phone %></td>
    <td></td>
    <td><%= link_to 'Show', driver %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
    <td></td>
    <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Driver', new_driver_path %>
