<h1 style="font-family: courier, 'courier new', monospace;
color: #595454;
font-weight: bold;"
>Listing orders</h1>



<!--Creating a text label to take the order number that the method should search for and passing this parameter to the controller-->
<form class="form-search">
  <div class="input-append">
    <input type="text" class="span2 search-query" id="search" name="search">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
 </form>






<table class="table">
  <tr>
    <th><%= sortable_column "Orderno" %></th>
    <th><%= sortable_column "Price"%></th>
    <th><%= sortable_column "Weight"%></th>
    <th><%= sortable_column "Volume"%></th>
    <th><%= sortable_column "Status"%></th>
    <th><%= sortable_column "Date"%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.orderNo %></td>
    <td><%= order.price %></td>
    <td><%= order.weight %></td>
    <td><%= order.volume %></td>
    <td><%= order.status %></td>
    <td><%= order.date %></td>
    <td><%= link_to 'Show', order %></td>
  
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


