<p id="notice"><%= notice %></p>
<table class="table">
  <caption>Order</caption>
  <thead>
    <tr>
      <th>attribute</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Orderno:</b></td>
      <td><%= @order.orderNo %></td>
    </tr>
    <tr>
      <td><b>Price:</b></td>
      <td><%= @order.price %></td>
    </tr>
     <tr>
      <td><b>Weight:</b></td>
      <td><%= @order.weight %></td>
    </tr>
    <tr>
      <td><b>Volume:</b></td>
      <td><%= @order.volume%></td>
    </tr>
     <tr>
      <td><b>Status:</b></td>
      <td><%= @order.status%></td>
    </tr>
     <tr>
      <td><b>Date:</b></td>
      <td><%= @order.date%></td>
    </tr>
     <tr>
      <td><b>Coordinates:</b></td>
      <td><%= @order.coordinates%></td>
    </tr>
     <tr>
      <td><b>Owner:</b></td>
      <td><%= @order.member%></td>
    </tr>
     <tr>
      <td><b>Route:</b></td>
      <td><%= @order.route%></td>
    </tr>
  </tbody>
</table>




<table class="table">
<thead></thead>



</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
