<p id="notice"><%= notice %></p>

<p>
  <b>Orderno:</b>
  <%= @order.orderNo %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Weight:</b>
  <%= @order.weight %>
</p>

<p>
  <b>Volume:</b>
  <%= @order.volume %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>
<p>
  <!-- Author: Mahmoud Walid
 Team: 3
 Function: showing a button if there is no address chosen-->
  <b>Shipping address:</b>
  <% if @order.address[@order.address.length-2]%>
  <%= @order.address[@order.address.length-2].name %> 
  <%= link_to 'show', @order.address[@order.address.length-2] %>
  <% else %>
  <%if @order.coordinates%>
    some coordinates are used for this order , however , the address crossponding to these coordinates is deleted from you address book
    <%else%> 
    no address is choosen yet
  <%= link_to 'Choose now', chooseOrder_path(@order) %>
  <%end%>
  <%end%>
</p>
<p>
  <b>Billing address:</b>
  <% if @order.address.last%>
  <%= @order.address.last.name %> 
  <%= link_to 'show', @order.address.last %>
  <% else %>
      <%if @order.coordinates%>
        some coordinates are used for this order , however , the address crossponding to these coordinates is deleted from you address book
      <%else%>
        no address is choosen yet
        <%= link_to 'Choose now', chooseOrder_path(@order) %>
      <%end%>
  <%end%>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', showOrders_path %>
