<div class="page-header">
  <h1>Listing routes</h1>
</div>
<br>
<br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1">Route ID</th>
      <th colspan="1">Orders No.</th>
      <th colspan="1">Created at</th>
      <th colspan="1">Shipment ID</th>
      <th colspan="1">Truck ID</th>
      <th colspan="1"></th>  
    </tr>
  </thead>
  <tbody>
    <% unless @shipment.routes.empty? %>
      <% @shipment.routes.each do |route| %>
        <tr>
          <td><%= route.id %></td>
          <% arr = [] %>
          <% route.arrOfPoints.each do |points|%>
            <% arr.push(Order.find_by(coordinates: points).orderNo) %>
          <% end %>  
          <td><%= arr %></td>
          <td><%= route.created_at %></td>
          <td><%= route.shipment_id %></td>
          <td><%= route.truck_id %></td>
          <td>
             <%= link_to(route, class: "btn btn-small") do %>
                Show <i class="icon-show icon-white"></i>
             <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="0">This Shipment did not contain any routes</td>
      </tr>
    <% end %>
  </tbody>   
</table>
<%= link_to 'Back', shipments_path %>
