<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
      <thead>
      <tr>
        <th>
           Product
        </th>
        <th>
           Quantity
        </th>
        <th>
        </th>
        <th class="text-center">
           Price
        </th>
        <th class="text-center">
           Total
        </th>
      </tr>
      </thead>
      <tbody>
      <% @cart.lineitems.each do |i| %>
      <% @cart.totalcost +=(i.quantity*(i.item.price))  %>
      <tr>
        <td class="col-sm-8 col-md-6">
          <div class="media">
            <%=link_to image_tag(i.item.image.url ,class:"media-object" ,height: '72', width: '72'),i.item , class: "thumbnail pull-left"%>
            <div class="media-body">
              <h4 class="media-heading"><%=link_to i.item.name,i.item %></h4>
              <%if (i.item.status)%>
              <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
              <%else%>
              <span>Status: </span><span class="text-warning"><strong>Paused</strong></span>
              <%end%>
            </div>
          </div>
        </td>
        <td class="col-sm-1 col-md-1" style="text-align: center">
          <%= i.quantity %>
        </td>
        <td>
          <%=button_to "update" , edit_lineitem_path(i) , class: "btn btn-info"%>
        </td>
        <td class="col-sm-1 col-md-1 text-center">
          <strong><%= i.item.price %></strong>
        </td>
        <td class="col-sm-1 col-md-1 text-center">
          <strong><%= i.quantity*i.item.price%></strong>
        </td>
        <td class="col-sm-1 col-md-1">
          <%= button_to "remove", i, method: :delete, data: { confirm: 'are you sure?' } ,class: "btn btn-danger"%>
        </td>
      </tr>
      <%end%>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <h5>Subtotal</h5>
        </td>
        <td class="text-right">
          <h5><strong><%= sprintf "%.2f",@cart.totalcost%></strong></h5>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <h5>Taxes</h5>
        </td>
        <td class="text-right">
          <h5><strong><%= sprintf "%.2f",@cart.totalcost*0.12%></strong></h5>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <h3>Total</h3>
        </td>
        <td class="text-right">
          <h3><strong><%=sprintf "%.2f",@cart.totalcost*1.12%></strong></h3>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
          <%= button_to "continue shopping" , members_items_index_items_path , class: "btn btn-default" , method: :get%>
        </td>
        <td>
          <%= button_to  "checkout" ,checkout_path(current_member) , class: "btn btn-success"%>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
<hr/>
<%if(@matching)%>
<div class="container-fluid">
  <h2>Recommended tems</h2>
  <div class="row-fluid">
    <div id="slider-fluid-products" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <ul class="thumbnails">
            <%@matching[0..3].each do |first_match|%>
              <li class="span3">
              <div class="thumbnail">
              <%= image_tag  first_match.image.url%>
              <div class="caption">
                <h3><%= first_match.name %></h3>
                <p>
                  <b>Price: </b>
                  <%=first_match.price%>
                  <br>
                  <b>Description: </b>
                  <%=first_match.description%>
                </p>
                <p>
                  <%= form_tag("../items/members_items_index/add", method: "post", multipart: true) do %>
                  <%= hidden_field_tag(:item, first_match.id ) %>
                  <%= text_field_tag :amount %>
                  <br>
                  <%= submit_tag "Buy now", :name => nil,class: "btn btn-primary"%>
           <%end%>

                </p>
              </div>
            </div>
            </li>
            <%end%>
          </ul>
        </div>
        <%(1..((@matching.count)/4)-1).each do |i|%>
        <div class="item">
          <ul class="thumbnails">
            <%start= i*4%>
            <%ending= start+3%>
            <%@matching[start..ending].each do |match|%>
              <li class="span3">
              <div class="thumbnail">
                <%= image_tag  match.image.url%>
                <div class="caption">
                  <h3><%=match.name%></h3>
                  <p>
                    <b>Price: </b>
                    <%=match.price%>
                    <br>
                    <b>Description: </b>
                    <%=match.description%>
                  </p>
                </div>
                <p>
                  <%= form_tag("../items/members_items_index/add", method: "post", multipart: true) do %>
                  <%= hidden_field_tag(:item, match.id ) %>
                  <%= text_field_tag :amount %>
                  <br>
                  <%= submit_tag "Buy now", :name => nil,class: "btn btn-primary"%>
            <%end%>
          
              </p>
            </div>
            </li>
            <%end%>
          </ul>
        </div>
        <%end%>
      </div>
      <a class="left carousel-control" href="#slider-fluid-products" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#slider-fluid-products" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
<%end%>
<br>
