 <%-# makes the form asking the retailer for attributes about the item -%>
  <%= form_for @item do |f| %>  
<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%-# label and file_field for uploading an image-%>
 <%-f.label :image -%> 
<%= f.file_field :image%>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%-# radio button for status-%>
  <div class="field">
  <p> Status : </p>
  <%= f.radio_button :status, true, :checked => true %> 
  <%= label :status, 'True' %>
  <%= f.radio_button :status, false, :checked => false %>
  <%= label :status, 'False' %>
</div>
 <div class="field">
    <%= f.label :stock %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
    <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate %><br>
    <%= f.text_field :carbohydrate %>
  </div>
  <div class="field">
    <%= f.label :calcium %><br>
    <%= f.text_field :calcium %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :fiber %><br>
    <%= f.text_field :fiber %>
  </div>
  <div class="field">
    <%= f.label :vitamin_a %><br>
    <%= f.text_field :vitamin_a %>
  </div>
  <div class="field">
    <%= f.label :vitamin_b %><br>
    <%= f.text_field :vitamin_b %>
  </div>
  <div class="field">
    <%= f.label :vitamin_c %><br>
    <%= f.text_field :vitamin_c %>
  </div>
  <div class="field">
    <%= f.label :vitamin_d %><br>
    <%= f.text_field :vitamin_d %>
  </div>
  <div class="field">
    <%= f.label :vitamin_e %><br>
    <%= f.text_field :vitamin_e %>
  </div>
  <div class="field">
    <%= f.label :vitamin_k %><br>
    <%= f.text_field :vitamin_k %>
  </div>
  <div class="field">
    <%= f.label :folate %><br>
    <%= f.text_field :folate %>
  </div>
  <div class="field">
    <%= f.label :thiamin %><br>
    <%= f.text_field :thiamin %>
  </div>
  <div class="field">
    <%= f.label :riboflavin %><br>
    <%= f.text_field :riboflavin %>
  </div>
  <div class="field">
    <%= f.label :pantothenic_acid %><br>
    <%= f.text_field :pantothenic_acid %>
  </div>
  <div class="field">
    <%= f.label :choline %><br>
    <%= f.text_field :choline %>
  </div>
  <div class="field">
    <%= f.label :niacin %><br>
    <%= f.text_field :niacin %>
  </div>
  <div class="field">
    <%= f.label :betaine %><br>
    <%= f.text_field :betaine %>
  </div>
  <div class="field">
    <%= f.label :calcium %><br>
    <%= f.text_field :calcium %>
  </div>
  <div class="field">
    <%= f.label :copper %><br>
    <%= f.text_field :copper %>
  </div>
  <div class="field">
    <%= f.label :fluoride %><br>
    <%= f.text_field :fluoride %>
  </div>
  <div class="field">
    <%= f.label :iron %><br>
    <%= f.text_field :iron %>
  </div>
  <div class="field">
    <%= f.label :magnesium %><br>
    <%= f.text_field :magnesium %>
  </div>
  <div class="field">
    <%= f.label :manganese %><br>
    <%= f.text_field :manganese %>
  </div>
  <div class="field">
    <%= f.label :phosphorus %><br>
    <%= f.text_field :phosphorus %>
  </div>
  <div class="field">
    <%= f.label :selenium %><br>
    <%= f.text_field :selenium %>
  </div>
  <div class="field">
    <%= f.label :zinc %><br>
    <%= f.text_field :zinc %>
  </div>
  <div class="field">
    <%= f.label :potassium %><br>
    <%= f.text_field :potassium %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <%= f.text_field :sodium %>
  </div>
  <div class="field">
    <%= f.label :starch %><br>
    <%= f.text_field :starch %>
  </div>
  <div class="field">
    <%= f.label :sugar %><br>
    <%= f.text_field :sugar %>
  </div>
  <div class="field">
    <%= f.label :fatty_acids %><br>
    <%= f.text_field :fatty_acids %>
  </div>
  <div class="field">
    <%= f.label :trans_fat %><br>
    <%= f.text_field :trans_fat %>
  </div>
  <div class="field">
    <%= f.label :saturated_fat %><br>
    <%= f.text_field :saturated_fat %>
  </div>
  <div class="field">
    <%= f.label :monounsaturated %><br>
    <%= f.text_field :monounsaturated %>
  </div>
  <div class="field">
    <%= f.label :polyunsaturated %><br>
    <%= f.text_field :polyunsaturated %>
  </div>
  <div class="field">
    <%= f.label :trans_monoenoic %><br>
    <%= f.text_field :trans_monoenoic %>
  </div>
  <div class="field">
    <%= f.label :trans_polyenoic %><br>
    <%= f.text_field :trans_polyenoic %>
  </div>
  <div class="field">
    <%= f.label :omega_3 %><br>
    <%= f.text_field :omega_3 %>
  </div>
  <div class="field">
    <%= f.label :cartenoids %><br>
    <%= f.text_field :cartenoids %>
  </div>
  <div class="field">
    <%= f.label :tocopherol %><br>
    <%= f.text_field :tocopherol %>
  </div>
  <div class="field">
    <%= f.label :retinol %><br>
    <%= f.text_field :retinol %>
  </div>
  <div class="field">
    <%= f.label :beta_carotene %><br>
    <%= f.text_field :beta_carotene %>
  </div>
  <div class="field">
    <%= f.label :alpha_carotene %><br>
    <%= f.text_field :alpha_carotene %>
  </div>
  <div class="field">
    <%= f.label :sucrose %><br>
    <%= f.text_field :sucrose %>
  </div>
  <div class="field">
    <%= f.label :glucose %><br>
    <%= f.text_field :glucose %>
  </div>
  <div class="field">
    <%= f.label :fructose %><br>
    <%= f.text_field :fructose %>
  </div>
  <div class="field">
    <%= f.label :maltose %><br>
    <%= f.text_field :maltose %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :minerals %><br>
    <%= f.text_field :minerals %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div>




  </div>
<% end %>
