<!-- # makes the form asking the retailer for attributes about the item -->
<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %>
        prohibited this item from being saved:</h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%-# label and file_field for uploading an image-%>
  <%-f.label :image -%>
  <%= f.file_field :image%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%-# radio button for status-%>
  <div class="field">
    <p>
      Status :
    </p>
    <%= f.radio_button :status, true, :checked => true %>
    <%= label :status, 'True' %>
    <%= f.radio_button :status, false, :checked => false %>
    <%= label :status, 'False' %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <!--Author: Hazem Amin-->
  <!--Team: 5-->
  <!--Function: Creating labels and text fields required for recently
  added attributes-->
  <!--Additional information: Attributes added starting from protein until calcium-->
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate %><br>
    <%= f.text_field :carbohydrate %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :vitamin_a %><br>
    <%= f.text_field :vitamin_a %>
  </div>
  <div class="field">
    <%= f.label :vitamin_b %>
    <br>
    <%= f.text_field :vitamin_b %>
  </div>
  <div class="field">
    <%= f.label :vitamin_c %><br>
    <%= f.text_field :vitamin_c %>
  </div>
  <div class="field">
    <%= f.label :vitamin_d %><br>
    <%= f.text_field :vitamin_d %>
  </div>
  <div class="field">
    <%= f.label :vitamin_e %><br>
    <%= f.text_field :vitamin_e %>
  </div>
  <div class="field">
    <%= f.label :vitamin_k %><br>
    <%= f.text_field :vitamin_k %>
  </div>
  <div class="field">
    <%= f.label :calcium %><br>
    <%= f.text_field :calcium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div>
  </div>
<% end %>
