<!-- Author : Amr Nabil -->
<!-- Team 3 -->
<!-- makes the form for the retailer to be able to update the price of an item -->
<%= form_for @item, url: updateprice_path(@item) do |f| %>  
 <% if @item.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

     <ul>
     <% @item.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
  <%-# label and text filed for updating the price of the item-%>
 <div class="field">
   <%= f.label :price %><br />
   <%= f.text_field :price %>
 </div>
 <div class="actions">
   <%= f.submit %>
 </div>
 <% end %>
