<!-- Author: Sameh Metias -->
<!-- Team: 3-->
<!-- This page is the view of the items from the members' point of view-->
<!-- The page does not correspond to the bootstrap we have settled on. It is jus an intermediate step for other developers to start working -->

<!-- Author: mina sedra -->
<!-- Team: 2 -->
   <%# body { background-image:url("http://freedesignfile.com/upload/2013/03/Fruits-and-vegetables-1.jpg");} %>


<div class="progress progress-striped active">
  <div class="bar"  style="width: 30%;">
  </div>
</div>
  
<html>
 
 <%= stylesheet_link_tag "items", :media => "all" %>
 <%= javascript_include_tag "items" %>

<head>

<%= include_gon %>

</head>

<% if current_member.records.count > 0 %>
<h1>Items as shown to members</h1>
</br>
</br>
<%#= (Item.all.where :status => true).count %>
<%#= Item.all.count %>

<body>
 
<!-- Title for the page -->

</br>
    <% if @warning.length > 0 %>
    <div class="alert alert-block">
      <%= @warning %>
    </div>
    <% end %>
    <div class="alert alert-info">
      <% if @items.count == 1 %>
      You've got 1 item.
      <% else %>
      You've got <%= @items.count %> items.
      <% end %>
      <%= @showing_pages %>
    </div>
    </br>
    <% if Item.all.count > 0 %>
    <navigationbar>
      <h5>Filter for products </h5>
      <% if @type_warning.length > 0 %>
      <div class="alert alert-error">
        <%= @type_warning %>
      </div>
      <% end %>
<%#Author: Antoine Foti
Team: 2
Here is the filter search form where the user can fill any desired field and submit so that according to it the filter will be calculated. Also all the messages formed according to the filter search are displayed at the right moment. %>
      <%= form_tag '/items/members_items_index', :method => 'get' do %>
      <p>
        <span class="label label-important">Name :</span>
        <%= text_field_tag :name, params[:filter] %>
        </br></br>
        <span class="label label-important">Sort by :</span>
        <select name="sort_by">
          <%= @attributes = ["Name","Price","Category","Rating","Vitamin_A","Vitamin_B","Vitamin_C", "Vitamin_D", "Vitamin_E", "Vitamin_K", "Proteins", "Carbohydrate", "Calcium", "Fats"] %>
          <%= @attributes.each do |attribute| %>
          <option value= <%= attribute %> ><%= attribute %> </option>
          <% end %>
        </select>
        </br></br>
        <span class="label label-important">Items per page :</span>
        <select name="items_per_page">
          <%= @pages = ["5","10","15","20","25"] %>
          <%= @pages.each do |page| %>
          <option value= <%= page %> ><%= page %> </option>
          <% end %>
        </select>
        </br></br>
        <a href="#" onclick="toggle_visibility('foo');">Advanced search</a>
      <div id="foo" style="display:none">
        <span class="label label-info">Category :</span>
        <select name="category">
          <%= @categories = ["<None>"] %>
          <%= @categories += Item.distinct(:category) %>
          <%= @categories.each do |category| %>
          <option value= <%= category %> ><%= category %> </option>
          <% end %>
        </select>
        </br></br>
        <span class="label label-info">Price starting from:</span>
        <%= text_field_tag :price_from, params[:filter] %>
        </br>
        <span class="label label-info">Price ending to:</span>
        <%= text_field_tag :price_to, params[:filter] %>
        </br></br>
        <span class="label label-info">Rating starting from:</span>
        <%= text_field_tag :rating_from, params[:filter] %>
        </br>
        <span class="label label-info">Rating ending to:</span>
        <%= text_field_tag :rating_to, params[:filter] %>
        </br></br>
        <% @items_extra_fields = ["Vitamin_A","Vitamin_B","Vitamin_C", "Vitamin_D", "Vitamin_E", "Vitamin_K", "Proteins", "Carbohydrate", "Calcium", "Fats"] %>
        <% @items_extra_fields.each do |extra_field| %>
        <span class="badge badge-info">Amount of <%= extra_field %>:</span>
        </br>
        <%= radio_button_tag extra_field, "High" %> <span class="">High</span>
        <%= radio_button_tag extra_field, "Medium" %> <span class="">Medium</span>
        <%= radio_button_tag extra_field, "Low" %> <span class="">Low</span>
        </br></br>
        <% end %>
        <%= radio_button_tag 'status', "all", :checked => true %> <span class="">All Products</span>
        </br>
        <%= radio_button_tag 'status', "available" %> <span class="">Available Only</span>
        </br></br>
      </div>
      <%= submit_tag "Search" %>
      </p>
      <% end %>
    </navigationbar>
    <% else %>
    <div class="alert alert-error">
      The retailer hasn't inserted any items yet.
    </div>
    <% end %>
    <% if @notification.length > 0 %>
    <div class="alert alert-success">
      <%= @notification %>
    </div>
    <% end %>
    <%= paginate @items %>

<% @items.each do |item| %>
  <icon>
  <img src= "<%= item.image%>" height=150 width=150 ></img></br>
  <td>Name: <%= item.name %></td> </br>
  <td>Price: <%= item.price %></td></br>
  <td>Category: <%= item.category %></td></br>
  <td>Stock: <%= item.amount %></td></br>
  <td>Available: <%= item.status %></td><br/>
  <td>Description: <%= item.description %></td></br>
  <td>Rating: <%= item.rating %></td></br>
  <td>Proteins: <%= item.protein %></td></br>
  <td>Carbohydrates: <%= item.carbohydrate %></td></br>
  <td>Calcium: <%= item.calcium %></td></br>
  <td>Fats: <%= item.fat %></td></br>
  <td>Vitamin A: <%= item.vitamin_a %></td></br>
  <td>Vitamin B: <%= item.vitamin_b %></td></br>
  <td>Vitamin C: <%= item.vitamin_c %></td></br>
  <td>Vitamin D: <%= item.vitamin_d %></td></br>
  <td>Vitamin E: <%= item.vitamin_e %></td></br>
  <td>Vitamin K: <%= item.vitamin_k %></td></br>


    <%= button_to 'Add to wishlist', wishlines_path(item_id: item)%><!--add to wishlist/author:mohamed lotfy team:1-->

    <textarea rows="1" cols="4"></textarea> KG  <%= button_to 'Add to Cart', lineitems_path(item_id: item) %>
    </br>
 
<!--AUTHOR: Mahmoud Eldesouky
    Team :5
    takes the quantiy from the user -->
<%= form_tag("members_items_index/add", method: "post", multipart: true) do %>
  <p>
    <%= hidden_field_tag(:item, item.id ) %>
    <%= text_field_tag :amount %>
    <%= submit_tag "Add to shopping cart", :name => nil %>
  </p>
 
<% end %>
    

  </icon>
<% end %>

<% end %>
    <!-- Author: mina sedra -->
<!-- Team: 2 -->

 <% if current_member.records.count == 0 %>
  <h2><p>PLEASE     ADD     YOUR    HEALTHRECORD FIRST </p></h2> 
                   <li><%= link_to "<button>My Healthrecords</button>".html_safe,indexhealthrecord_path(current_member)%></li>

<% end %>
  <div class="sidebar">
    <%= yield :sidebar %>
</div>
<!--AUTHOR: Mahmoud Eldesouky
    Team: 5
    Parameter: takes the updated values of the till_now for each nutriant
    Function: It views the updated value of the over all progress on the progress bar 
    and detailed progress bar for each nutrient when clicking show progress button 
    and hides them when clicking hide progress button -->
<div>
<navigationbar>
 <h5>REACHED </h5>
 <%= form_tag '/items/members_items_index', :method => 'get' do%>
 <p>
  <p>Total Over all Gain </p>
  <%= progress_bar(@over_all_bar, :color => 'grey', :rounded => true) %> 
  </opt></br></br>
  
  <input type="button" onclick="show_detail()" value="Show Progress">
  <input type="button" onclick="hide_detail()" value="Hide Progress">
 
  <div id='1' style="visibility:hidden;">
  <p align="center">Total Protein Gain </p>
  <%= progress_bar(@protein_bar, :color => 'grey', :rounded => true) %> 
  <p align="center">Total Carbohydrates Gain </p>
  <%= progress_bar(@carbohydrate_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Calcium Gain </p>
  <%= progress_bar(@calcium_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Fats Gain </p>
  <%= progress_bar(@fats_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Vitamin A Gain </p>
  <%= progress_bar(@vitamin_a_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Vitamin B Gain </p>
  <%= progress_bar(@vitamin_b_bar, :color => 'grey', :rounded => true) %>
  <p align="left">Total Vitamin C Gain </p>
  <%= progress_bar(@vitamin_c_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Vitamin D Gain </p>
  <%= progress_bar(@vitamin_d_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Vitamin E Gain </p>
  <%= progress_bar(@vitamin_e_bar, :color => 'grey', :rounded => true) %> 
  <p align="left">Total Vitamin K Gain </p>
  <%= progress_bar(@vitamin_k_bar, :color => 'grey', :rounded => true) %> 
  </div>
 </p>
 <% end %>
</navigationbar>   
</div>   
</body>

<script type="text/javascript">
 //AUTHOR: Mahmoud Eldesouky
 //Team: 5
 //Function: messagerecieving the violation message as a parameter from items_controller and showing it in a pop up message to the user 
 //Parameter: message
 if (!gon.flag&&gon.message!=null){
  alert(gon.message)
 }
 //AUTHOR: Mahmoud Eldesouky
 //Team: 5
 //Method name: hide_detail
 //Function: This function hide the detailed progress bars that are in the right-hand-side navigation bar
 function hide_detail(){
  document.getElementById('1').style.visibility = 'hidden';
 }
 //AUTHOR: Mahmoud Eldesouky
 //Team: 5
 //Method name: show_detail
 //Function: This function shows the detailed progress bars that are in the right-hand-side navigation bar
 function show_detail(){
  document.getElementById('1').style.visibility = 'visible';
 }
</script>

</html>

