
<head>
<style>
icon{
font-size: 20px;
float:left;
border-width: thick;
border-style: dotted;
border-color: black;
}
</style>


</head>
<body>
<!-- Title for the page -->
<h1>Items as shown to members</h1>



 

<% @items.each do |item| %>
  <icon>
    <img src= "<%= item.image%>" height=150 width=150></img></br>
    <td>Name: <%= item.name %></td> </br>
    <td>Price: <%= item.price %></td></br>
    <td>Category: <%= item.category %></td></br>
    <td>Stock: <%= item.amount %></td></br>
    <td>Available: <%= item.status %></td><br/>
    <td>Description: <%= item.description %></td></br>
    <td>Rating: <%= item.rating %></td></br>
    <textarea rows="1" cols="4"></textarea> KG  <button>Add to shopping cart</button></br>
    <button>Add to wishlist</button></br>
</icon>
<% end %>


</body>
