<p id="notice"><%= notice %></p>
 <%-# desplaying the image of the item floating next to the text-%>
  <div style="float:left; text-align:center;">
        <%= image_tag @item.image.url %>
        <br/>
    </div>
  <br>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>
<p>
  <b>Stock:</b>
  <%= @item.amount %>
</p>
<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @item.rating %>
</p>
<p>
  <b>Protein:</b>
  <%= @item.protein %>
</p>
<p>
  <b>Carbohydrate:</b>
  <%= @item.carbohydrate %>
</p>
<p>
  <b>Calcium:</b>
  <%= @item.calcium %>
</p>
<p>
  <b>Fat:</b>
  <%= @item.fat %>
</p>
<p>
  <b>Fiber:</b>
  <%= @item.fiber %>
</p>
<p>
  <b>Vitamin A:</b>
  <%= @item.vitamin_a %>
</p>
<p>
  <b>Vitamin B:</b>
  <%= @item.vitamin_b %>
</p>
<p>
  <b>Vitamin C:</b>
  <%= @item.vitamin_c %>
</p>
<p>
  <b>Vitamin D:</b>
  <%= @item.vitamin_d %>
</p>
<p>
  <b>Vitamin E:</b>
  <%= @item.vitamin_e %>
</p>
<p>
  <b>Vitamin K:</b>
  <%= @item.vitamin_k %>
</p>
<p>
  <b>Folate:</b>
  <%= @item.folate %>
</p>
<p>
  <b>Thiamin:</b>
  <%= @item.thiamin %>
</p>
<p>
  <b>Riboflavin:</b>
  <%= @item.riboflavin %>
</p>
<p>
  <b>Pantothenic Acid:</b>
  <%= @item.pantothenic_acid %>
</p>
<p>
  <b>Choline:</b>
  <%= @item.choline %>
</p>
<p>
  <b>Niacin:</b>
  <%= @item.niacin %>
</p>
<p>
  <b>Betaine:</b>
  <%= @item.betaine %>
</p>
<p>
  <b>Calcium:</b>
  <%= @item.calcium %>
</p>
<p>
  <b>Copper:</b>
  <%= @item.copper %>
</p>
<p>
  <b>Fluoride:</b>
  <%= @item.fluoride %>
</p>
<p>
  <b>Iron:</b>
  <%= @item.iron %>
</p>
<p>
  <b>Magnesium:</b>
  <%= @item.magnesium %>
</p>
<p>
  <b>Manganese:</b>
  <%= @item.manganese %>
</p>
<p>
  <b>Phosphorus:</b>
  <%= @item.phosphorus %>
</p>
<p>
  <b>Selenium:</b>
  <%= @item.selenium %>
</p>
<p>
  <b>Zinc:</b>
  <%= @item.zinc %>
</p>
<p>
  <b>Potassium:</b>
  <%= @item.potassium %>
</p>
<p>
  <b>Sodium:</b>
  <%= @item.sodium %>
</p>
<p>
  <b>Starch:</b>
  <%= @item.starch %>
</p>
<p>
  <b>Sugar:</b>
  <%= @item.sugar %>
</p>
<p>
  <b>Fatty acids:</b>
  <%= @item.fatty_acids %>
</p>
<p>
  <b>Trans fat:</b>
  <%= @item.trans_fat %>
</p>
<p>
  <b>Saturated fat:</b>
  <%= @item.saturated_fat %>
</p>
<p>
  <b>Monounsaturated:</b>
  <%= @item.monounsaturated %>
</p>
<p>
  <b>Polyunsaturated:</b>
  <%= @item.polyunsaturated %>
</p>
<p>
  <b>Trans monoenoic:</b>
  <%= @item.trans_monoenoic %>
</p>
<p>
  <b>Trans polyenoic:</b>
  <%= @item.trans_polyenoic %>
</p>
<p>
  <b>Omega_3:</b>
  <%= @item.omega_3 %>
</p>
<p>
  <b>Cartenoids:</b>
  <%= @item.cartenoids %>
</p>
<p>
  <b>Tocopherol:</b>
  <%= @item.tocopherol %>
</p>
<p>
  <b>Retinol:</b>
  <%= @item.retinol %>
</p>
<p>
  <b>Beta carotene:</b>
  <%= @item.beta_carotene %>
</p>
<p>
  <b>Alpha carotene:</b>
  <%= @item.alpha_carotene %>
</p>
<p>
  <b>Sucrose:</b>
  <%= @item.sucrose %>
</p>
<p>
  <b>Glucose:</b>
  <%= @item.glucose %>
</p>
<p>
  <b>Fructose:</b>
  <%= @item.fructose %>
</p>
<p>
  <b>Maltose:</b>
  <%= @item.maltose %>
</p>
<p>
  <b>Calories:</b>
  <%= @item.calories %>
</p>
<p>
  <b>Alpha carotene:</b>
  <%= @item.alpha_carotene %>
</p>
<p>
  <b>Alpha carotene:</b>
  <%= @item.alpha_carotene %>
</p>
<p>
  <b>Minerals:</b>
  <%= @item.minerals %>
</p>

<%-# a link redirecting to the edit page-%>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%-# a link redirecting back to the item page-%>
<%= link_to 'Back', items_path %>
