
<p id="notice"><%= notice %>
  <%-# desplaying the image of the item floating next to the text-%>
  <div style="float:right; text-align:center;">
    <%= image_tag @item.image.url , width: 350  , height: 350%>
    <br/>
  </div>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/item.css" media="screen" type="text/css" />
  </head>
  <body>
    <header class="performance-facts__header">
      <h1 class="performance-facts__title">Item</h1>
      <b>Name:</b>
      <%= @item.name %>
    </p>
    <p>
      <b>Price:</b>
      <%= @item.price %>
    </p>
    <p>
      <b>Weigh:</b>
      <%= @item.weight %>
    </p>
    <p>
      <b>Volume:</b>
      <%= @item.volume %>
    </p>
    <p>
      <b>Category:</b>
      <%= @item.category %>
    </p>
    <p>
      <b>Stock:</b>
      <%= @item.amount %>
    </p>
    <p>
      <b>Status:</b>
      <%= @item.status %>
    </p>
    <p>
      <b>Description:</b>
      <%= @item.description %>
    </p>
    <p>
      <b>Rating:</b>
      <%= @item.rating %>
    </p>
    <!--Author: Hazem Amin-->
    <!--Team: 5-->
    <!--Function: Showing the name of the attribute and 
  its value for each and every item in its show-view-->
    <p>
      <b>Protein:</b>
      <%= @item.protein %>
    </p>
    <p>
      <b>Carbohydrate:</b>
      <%= @item.carbohydrate %>
    </p>
    <p>
      <b>Fat:</b>
      <%= @item.fat %>
    </p>
    <p>
      <b>Vitamin A:</b>
      <%= @item.vitamin_a %>
    </p>
    <p>
      <b>Vitamin B:</b>
      <%= @item.vitamin_b %>
    </p>
    <p>
      <b>Vitamin C:</b>
      <%= @item.vitamin_c %>
    </p>
    <p>
      <b>Vitamin D:</b>
      <%= @item.vitamin_d %>
    </p>
    <p>
      <b>Vitamin E:</b>
      <%= @item.vitamin_e %>
    </p>
    <p>
      <b>Vitamin K:</b>
      <%= @item.vitamin_k %>
    </p>
    <p>
      <b>Calcium:</b>
      <%= @item.calcium %>
    </p>
    <%-# a link redirecting to the edit page-%>
    <%= link_to 'Edit', edit_item_path(@item) %>
    <%-# a link redirecting back to the item page-%>
    <%= link_to 'Back', items_path %>
  </body>
</header>

