<p id="notice"><%= notice %></p>
  <div style="float:left; text-align:center;">
        <%= image_tag @item.image.url %>
        <br/>
    </div>
  <br>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>
<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @item.rating %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
